*{
    margin: 0;
    padding: 0;
}


body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: black;
background-color: white;
}

.header{
    height: 15vh;
    
}

.logo{

    height: 15vh;
    width: 25vh;
}
.bgVerde{
    background-color: rgb(97,118, 118);
}

.imgCabecera{

    height: 50vh;
    object-fit:fill;
}
.imgPlanta{
    height: 80vh;
    width: 80vh;
    margin-top: 100px;
    margin-bottom: 100px;
    object-fit: fill;
}

.h1Inicio{

   
    margin-top: 100px;
    margin-bottom: 100px;
    color: darkgreen;
    font-style: oblique;
    font-size: calc(2em,5vw,5em)
    
    
    
}

.h2NombresYPrecios{

    color: darkgreen;
    font-style: oblique;

    
}
.anclaPrecios{
    text-decoration: none;
}


