$tamanio-100px : 100px;
$color-dark-green :  darkgreen;
$color-fondo-header-footer :  rgb(97,118, 118);
$tamanio-15vh : 15vh;
$tamanio-80vh: 80vh;
$tamanio-500px: 500px;

$tamanios:(
    cinco:5px,
    diez:10px,
    quince:15px,
    veinte:20px,
    cien:100px,
   
)