/*
esto es un comentario multilinea en css
css: hojas de estilos en cascadas

su sintaxis 
selector{
    propiedad: valor 
    propiedad: valor
    n....
}
Selectores:
etiqueta: el selector menos especifico
class: el selector de clase, es mas especifico que el de etiqueta y me ayuda a clasificar distintos elementos 
de html y aplicarles el mismo estilo, llamo al selector de class a traves del punto(.) 
id: el selector mas especifico, porque puedo poner un mismo id a un unico elemento, No puedo repetir los nombres
de los id, los id se los llama por la #


cammel case: se empieza en minuscula todo pegado cada palabla siquiente empieza con mayuscula ej: amarilloAzulGris

*/    
*{
    margin: 0;
    padding: 0;
}


body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: black;
background-color: white;
}

.header{
    height: 15vh;
    
}

.logo{

    height: 15vh;
    width: 25vh;
}
.bgVerde{
    background-color: rgb(97,118, 118);
}

.imgCabecera{

    height: 50vh;
    object-fit:fill;
}
.imgPlanta{
    height: 80vh;
    width: 80vh;
    margin-top: 100px;
    margin-bottom: 100px;
    object-fit: fill;
}

.h1Inicio{

   
    margin-top: 100px;
    margin-bottom: 100px;
    color: darkgreen;
    font-style: oblique;
    font-size: calc(2em,5vw,5em)
    
    
    
}

.h2NombresYPrecios{

    color: darkgreen;
    font-style: oblique;

    
}
.anclaPrecios{
    text-decoration: none;
}

.pContacto{
    color: green;
    font-style: oblique;
    font-size: calc(2em,5vw,5em);
    margin-top: 100px;
    margin-bottom: 100px;
}

.mapa{
    
    margin-top: 100px;
    margin-bottom: 100px;
    object-fit: fill;
}

